

.mbc-text-slider-ctlr{
	padding-bottom: 200px;
}

.mbc-text-slider-wrap{
	padding-top: 170px;
	border-top: 2px solid #716A6A;
	position: relative;
}


.mbc-text-slider{
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}
.mbc-text-slider .mbc-prev{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	background: url('../images/prev-red.png');
	background-repeat: no-repeat!important;
	height: 17px;
	width: 15px;
}
.mbc-text-slider .mbc-prev:hover{
	background: url('../images/prev-red-hover.png');
}
.mbc-text-slider .mbc-nxt{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	background: url('../images/nxt-red.png');
	background-repeat: no-repeat!important;
	height: 17px;
	width: 15px;
}
.mbc-text-slider .mbc-nxt:hover{
	background: url('../images/nxt-red-hover.png');
}

.mbc-text-slider-title{
	color: #405D6F;
}


.mbc-text-slider-item{
	text-align: center;
}

.mbcTextSlider .mbc-text-slider-item{
	display: none;
}

.mbcTextSlider .mbc-text-slider-item:first-child{
	display: block;
}

.mbcTextSlider.slick-initialized .mbc-text-slider-item{
	display: block;
}


.mbc-accordion-title{
	margin-bottom: 0;
    cursor: pointer;
    position: relative;
    padding: 20px 50px 25px 20px;
    border: 1px solid #FFFFFF;
    background: #e5e5e5;
    line-height: 1.3;
    border-bottom-width: 0;
}
.mbc-accordion-title.active{
	border-bottom-width: 1px;
	border-color: #000000;
	background: #000000;
	color: #fff;
}
.mbc-accordion-menu:last-child .mbc-accordion-title{
	border-bottom-width: 1px;
}
.mbc-accordion-title:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background: url(../images/down-arrow.png);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    height: 16px;
    width: 17px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.mbc-accordion-title.active:after{
    background: url(../images/down-arrow-active.png);
}

.mbc-accordion-des{
	padding: 28px 20px 1px 22px;
	display: none;
}
.mbc-accordion-des p{
	margin-bottom: 20px;
}

.mbc-des-accordion-gray-bg{
	background: #E5E5E5;
}


.mbc-des-accordion-gray-bg .mbc-accordion-title{
	border-color: #E5E5E5;
	background: #fff;
}
.mbc-des-accordion-gray-bg .mbc-accordion-title.active{
	background: #000;
	border-color: #000;
	color: #fff;
}


.mbc-team-sec{
	background: #405D6F;
	padding: 180px 0 140px;
}

.mbc-team-sec .mbc-grids-sec-entry-hdr-title{
	text-transform: capitalize;
	text-align: center;
	color: #B0ACAC;
}
.mbc-team-subtitle{
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.mbc-team-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.mbc-team-grd-item-ctlr{
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.mbc-team-grd-item{
	position: relative;
}
.mbc-team-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.mbc-team-grd-item-img{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}
.mbc-team-grd-item-img img{
	width: 100%;
}
.mbc-team-grd-item-des{
	text-align: center;
	padding-top: 20px;
	position: relative;
	z-index: 11;
	color: #fff;
}
.mbc-team-grd-des-title{
	margin-bottom: 10px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	color: #fff!important;
}
.mbc-team-grd-des-title:hover{
	opacity: 0.7;
}
.mbc-team-grd-des-title a{
	color: #fff;
}
.mbc-team-grd-item-des strong{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 25px;
	color: #fff;
}



.mbc-team-slider-ctlr{
	position: relative;
}

.mbc-team-slider-ctlr .mbc-prev{
	position: absolute;
	top: 50%;
	left: -80px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	background: url('../images/mbc-prev-white.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 17px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mbc-team-slider-ctlr .mbc-prev:hover{
	background: url('../images/mbc-prev-white-hover.png');
}
.mbc-team-slider-ctlr .mbc-nxt{
	position: absolute;
	top: 50%;
	right: -80px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	background: url('../images/mbc-nxt-white.png');
	background-repeat: no-repeat;
	width: 15px;
	height: 16px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mbc-team-slider-ctlr .mbc-nxt:hover{
	background: url('../images/mbc-nxt-white-hover.png');
}

.mbcTeamSlider .mbc-team-grd-item-ctlr{
	display: none;
}

.mbcTeamSlider .mbc-team-grd-item-ctlr:first-child{
	display: block;
}

.mbcTeamSlider.slick-initialized .mbc-team-grd-item-ctlr{
	display: block;
}

.mbc-team-grd-item-ctlr:hover .mbc-team-grd-item-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}



.mbc-grds-black-bg{
	background: #010203;
	padding-top: 150px;
}

.mbc-grds-black-bg .mbc-grid-item h1,
.mbc-grds-black-bg .mbc-grid-item h2,
.mbc-grds-black-bg .mbc-grid-item h3,
.mbc-grds-black-bg .mbc-grid-item h4,
.mbc-grds-black-bg .mbc-grid-item h5,
.mbc-grds-black-bg .mbc-grid-item h6{
	color: #fff;
	margin-bottom: 30px;
	padding-top: 30px;
}
.mbc-grds-black-bg .mbc-grid-item p{
	color: #A7A7A7;
}


.mbc-grds-black-bg .mbc-grid-item,
.mbc-grds-black-bg .mbc-grids-col-entry-hdr-title{
	color: #fff;
}



.mbc-ol-ul-sec{
	padding-top: 160px;
	padding-bottom: 110px;
}



.mbc-gallery-sec{
	padding-bottom: 250px;
}
.mbc-gallery-sec-inr{
	padding-top: 200px;
	border-top: 1px solid #716A6A;
}
.mbc-gallery-sec .mbc-grids-sec-entry-hdr-title{
	text-align: center;
	margin-bottom: 30px;
}

/*
Gallery design
*/

/*.gallery-wrap{
	padding-top: 50px;
	padding-bottom: 65px;
}*/
.gallery {
	margin-left: -14px;
	margin-right: -14px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 14px;
	margin-bottom: 28px;
}


.gallery-item img {
	width: 100%;
}


.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}



.btn-ctlr ul{
	display: flex;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
}
.btn-ctlr ul li{
	padding-left: 10px;
	padding-right: 10px;
}


.mbc-grid-item-img{
	height: 350px;
}
.mbc-grid-item-img img{
	display: none;
}

.mbc-grd-item-img-columns2{
	height: 400px;
}



.mbc-option-break-slider-sec{
	padding-top: 170px;
	padding-bottom: 200px;
}
.mbc-option-break-option-break-slider-ctlr{
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
}
.mbc-option-break-option-break-slider-ctlr .mbc-prev{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mbc-option-break-option-break-slider-ctlr .mbc-prev i{
	background-image: url('../images/mbc-prev.png');
	background-repeat: no-repeat!important;
	height: 16px;
	width: 18px;
}
.mbc-option-break-option-break-slider-ctlr .mbc-prev:hover{
	background: #EC1218;
}
.mbc-option-break-option-break-slider-ctlr .mbc-prev:hover i{
	background-image: url('../images/mbc-prev-hover.png');
}

.mbc-option-break-option-break-slider-ctlr .mbc-nxt{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mbc-option-break-option-break-slider-ctlr .mbc-nxt i{
	background-image: url('../images/mbc-nxt.png');
	background-repeat: no-repeat!important;
	height: 20px;
	width: 18px;
}
.mbc-option-break-option-break-slider-ctlr .mbc-nxt:hover{
	background: #EC1218;
}
.mbc-option-break-option-break-slider-ctlr .mbc-nxt:hover i{
	background-image: url('../images/mbc-nxt-hover.png');
}

.mbc-opb-slider-grd-item{
	padding-bottom: 20px;
}
.mbc-opb-slider-title{
	color: #fff;
}
.mbc-opb-slider-grd-item-des{
	text-align: center;
}

.mbcOpbSlider .mbc-opb-slider-grd-item{
	display: none;
}

.mbcOpbSlider .mbc-opb-slider-grd-item:first-child{
	display: block;
}

.mbcOpbSlider.slick-initialized .mbc-opb-slider-grd-item{
	display: block;
}


.mbc-content-sec{
	padding-top: 160px;
	padding-bottom: 130px;
}



.mbc-btn-sec{
	padding-top: 80px;
	padding-bottom: 80px;
	background: #CBCBCB;
}
.mbc-btn-sec-inr{
	display: flex;
	align-items: center;
}
.mbc-prev-nxt-ctlr{
	margin-left: auto;
}
.mbc-btn ul{
	display: flex;
	align-items: center;
	margin-left: -20px;
	margin-right: -20px;
}
.mbc-btn ul li{
	padding-left: 20px;
	padding-right: 20px;
}

.mbc-prev-nxt{
	display: flex;
	align-items: center;
	
}
.mbc-prev-nxt ul{
	display: flex;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
}
.mbc-prev-nxt ul li{
	padding-left: 10px;
	padding-right: 10px;
}

.mbc-white-prev-nxt .mbc-prev,
.mbc-white-prev-nxt .mbc-nxt{
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 100%;
}


.mbc-client-sec{
	padding-top: 150px;
	padding-bottom: 120px;
	background: #000000;
}


.mbc-client-hdr{
	text-align: center;
	color: #fff;
}
.mbc-client-subtitle{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.mbc-client-title{
	color: #fff;
}
.mbc-client-grds{
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -50px;
	margin-right: -50px;
}

.mbc-client-grd-item{
	width: 20%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	text-align: center;
}



/*responsive*/

@media(max-width: 1699px){
	.mbc-ol-ul-sec {
	    padding-bottom: 90px;
	}
	.mbc-gallery-sec {
	    padding-bottom: 200px;
	}
	.mbc-gallery-sec-inr{
		padding-top: 160px;
	}
	.mbc-text-slider-ctlr {
	    padding-bottom: 150px;
	}
	.mbc-text-slider-wrap {
	    padding-top: 120px;
	}
	.mbc-team-sec {
	    padding: 130px 0 100px;
	}
	.mbc-team-grds {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.mbc-team-grd-item-ctlr{
		padding-left: 10px;
	    padding-right: 10px;
	    padding-bottom: 20px;
	}
	.gallery {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.gallery-item {
	    padding: 0 10px;
	    margin-bottom: 20px;
	}
	.btn-ctlr ul {
	    margin-left: -6px;
	    margin-right: -6px;
	}
	.btn-ctlr ul li {
	    padding-left: 6px;
	    padding-right: 6px;
	}
	.btn-ctlr .fl-transparent-btn{
		min-width: 190px;
	}
	.btn-ctlr .fl-gray-btn{
		min-width: 190px;
	}
	.cabin-landing-ctlr .lftdes-rgtimg-sec,
	.facilites-landing-ctlr .lftdes-rgtimg-sec {
	    padding: 70px 0 100px;
	}
	.mbc-grds-black-bg {
	    padding-top: 100px;
	}
	.mbc-accordion-title:after{
		height: 12px;
    	width: 13px;
	}
	.mbc-text-slider-inr{
		padding-left: 30px;
		padding-right: 30px;
	}
	.ptTeamSlider .fl-transparent-btn{
		min-width: 180px;
	}
	.mbc-option-break-slider-sec{
		padding-top: 130px;
		padding-bottom: 150px;
	}
	.mbc-option-break-option-break-slider-ctlr{
		padding-left: 50px;
		padding-right: 50px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-prev,
	.mbc-option-break-option-break-slider-ctlr .mbc-nxt{
		width: 50px;
		height: 50px;
		margin-top: -15px;
	}
	.mbc-team-slider-ctlr .mbc-prev{
		left: -40px;
	}
	.mbc-team-slider-ctlr .mbc-nxt{
		right: -40px;
	}
	.mbc-client-sec {
	    padding-top: 100px;
	    padding-bottom: 80px;
	}
	.mbc-client-subtitle{
		margin-bottom: 20px;
	}
	.mbc-client-grds{
		margin-left: -30px;
		margin-right: -30px;
	}
	.mbc-client-grd-item {
	    padding-left: 30px;
	    padding-right: 30px;
	    padding-bottom: 60px;
	}
	.mbc-content-sec {
	    padding-top: 120px;
	    padding-bottom: 110px;
	}
	
}
@media(max-width: 1399px){
	.mbc-option-break-option-break-slider-ctlr .mbc-prev{
		margin-left: -30px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-nxt{
		margin-right: -30px;
	}
	
}
@media(max-width: 1199px){
	.mbc-text-slider-ctlr {
	    padding-bottom: 100px;
	}
	.mbc-text-slider-wrap {
	    padding-top: 100px;
	}
	.mbc-team-sec {
	    padding: 100px 0 80px;
	}
	.mbc-team-slider-ctlr{
		padding-left: 30px;
		padding-right: 30px;
	}
	.mbc-team-slider-ctlr .mbc-prev {
	    left: -10px;
	}
	.mbc-team-slider-ctlr .mbc-nxt {
	    right: -10px;
	}
	.mbc-ol-ul-sec {
	    padding-bottom: 70px;
	}
	.mbc-gallery-sec {
	    padding-bottom: 180px;
	}
	.mbc-gallery-sec-inr {
	    padding-top: 120px;
	}
	.btn-ctlr ul{
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.btn-ctlr ul li {
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 15px;
	}
	.mbc-grds-black-bg {
	    padding-top: 80px;
	}
	.mbc-option-break-slider-sec {
	    padding-top: 100px;
	    padding-bottom: 120px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-prev {
	    margin-left: -10px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-nxt {
	    margin-right: -10px;
	}
	.mbc-opb-slider-grd-item {
	     padding-bottom: 0; 
	}
	.mbc-opb-slider-title{
		font-size: 35px!important;
	}
	.mbc-text-slider {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.mbc-text-slider-title{
		font-size: 36px!important;
	}
	.mbc-content-sec {
	    padding-top: 100px;
	    padding-bottom: 90px;
	}
	.mbc-client-sec {
	    padding-top: 80px;
	    padding-bottom: 60px;
	}
	.mbc-client-grd-item{
		width: 25%;
	}
}
@media(max-width: 991px){
	.mbc-text-slider-ctlr {
	    padding-bottom: 70px;
	}
	.mbc-text-slider-wrap {
	    padding-top: 70px;
	}
	.mbc-team-sec {
	    padding: 80px 0 70px;
	}
	.mbc-team-slider-ctlr {
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.mbc-fea-slider-grd-item {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 20px;
	}
	.mbc-gallery-sec {
	    padding-bottom: 140px;
	}
	.mbc-gallery-sec-inr {
	    padding-top: 100px;
	}
	.mbc-grds-black-bg {
	    padding-top: 70px;
	}
	.mbc-text-slider .mbc-nxt{
		margin-top: -10px;
	}
	.mbc-text-slider .mbc-prev{
		margin-top: -10px;
	}
	.mbc-option-break-slider-sec {
	    padding-top: 80px;
	    padding-bottom: 100px;
	}
	.mbc-option-break-option-break-slider-ctlr {
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-prev, 
	.mbc-option-break-option-break-slider-ctlr .mbc-nxt{
		width: 40px;
    	height: 40px;
	}
	.mbc-opb-slider-title {
	    font-size: 29px!important;
	}
	.mbc-client-grd-item {
	    width: 33.3333%;
	}
}
@media(max-width: 767px){
	.mbc-text-slider-ctlr {
	    padding-bottom: 60px;
	}
	.mbc-text-slider-wrap {
	    padding-top: 60px;
	}
	.mbc-team-sec {
	    padding: 80px 0 50px;
	}
	.mbc-ol-ul-sec {
	    padding-bottom: 50px;
	}
	.mbc-gallery-sec {
	    padding-bottom: 110px;
	}
	.mbc-gallery-sec-inr {
	    padding-top: 70px;
	}
	.gallery-columns-4 .gallery-item {
	    width: 50%;
	}
	.mbc-text-slider-inr{
		padding-left: 30px;
		padding-right: 30px;
	}
	.mbc-grid-item-img{
		margin-left: -20px;
		margin-right: -20px;
	}
	
	.btn-ctlr ul {
	    display: flex;
	    margin-left: -7px;
	    margin-right: -7px;
	}
	.btn-ctlr ul li{
		padding-left: 7px;
		padding-right: 7px;
	}
	.mbc-text-slider .mbc-prev {
	    left: -20px!important;
	    margin-top: 18px;
	}
	.mbc-text-slider .mbc-nxt {
	    right: -20px!important;
	    margin-top: 18px;
	}
	.mbc-grds-black-bg .mbc-grid-item h1,
	.mbc-grds-black-bg .mbc-grid-item h2,
	.mbc-grds-black-bg .mbc-grid-item h3,
	.mbc-grds-black-bg .mbc-grid-item h4,
	.mbc-grds-black-bg .mbc-grid-item h5,
	.mbc-grds-black-bg .mbc-grid-item h6{
		margin-bottom: 20px;
		padding-top: 0;
	}
	.mbc-fea-slider-grds {
	    margin-left: 0;
	    margin-right: 0;
	    display: block;
	}
	.mbc-fea-slider-grd-item{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: center;
	}
	.mbc-option-break-slider-sec {
	    padding-top: 70px;
	    padding-bottom: 80px;
	}
	.mbc-opb-slider-title {
	    font-size: 28px!important;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-prev {
	    margin-left: -20px;
	}
	.mbc-option-break-option-break-slider-ctlr .mbc-nxt {
	    margin-right: -20px;
	}
	.mbc-option-break-option-break-slider-ctlr {
	    padding-left: 25px;
	    padding-right: 25px;
	}

}
@media(max-width: 639px){
	.mbc-team-grds {
	    margin-left: 0;
	    margin-right: 0;
	}
	.mbc-team-grd-item-ctlr{
		padding-left: 0;
	    padding-right: 0;
	}
	.mbc-team-grd-item{
		max-width: 375px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media(max-width: 575px){
	.mbc-team-sec {
	    padding: 60px 0 40px;
	}
	.mbc-accordion-title{
		padding: 15px 35px 18px 20px;
	}
	.mbc-accordion-title:after{
		right: 15px;
	}
	.mbc-ol-ul-sec {
	    padding-bottom: 40px;
	}
	.mbc-gallery-sec {
	    padding-bottom: 80px;
	}
	.mbc-gallery-sec-inr {
	    padding-top: 50px;
	}
	.mbc-team-grd-item-des strong{
		margin-bottom: 15px;
	}
	.mbc-opb-slider-title {
	    font-size: 25px!important;
	}
}

@media(max-width: 479px){
	.btn-ctlr ul {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	}
	.btn-ctlr ul li{
		padding-left: 0;
		padding-right: 0;
	}
	.btn-ctlr .fl-transparent-btn {
	    min-width: 100%;
	}
	.btn-ctlr .fl-gray-btn {
	    min-width: 100%;
	}
	.mbc-grd-item-img-columns2 {
	    height: 350px;
	}
}

