.header{

}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-lft{

}
.logo{

}
.logo a{
	display: inline-block;
	max-width: 222px;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-topbar{
	display: flex;
	max-width: 960px;
	padding-top: 28px;
	padding-bottom: 20px;
	border-bottom: 1px solid #707070;
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -16px;
	margin-left: auto;
}
.hdr-details-cntlr{
	margin-left: auto;

}
.hdr-details-col{
	padding: 0 16px;
	position: relative;
	line-height: 1;
	font-size: 15px;
}
.hdr-details-col:before{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	height: 13px;
	width: 1px;
	background: #716A6A;
}
.hdr-details-col:last-of-type:before{
	content: none;
}

.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -11px;
}
.hdr-mail{
	padding: 0 11px;
}
.hdr-tel a span,
.hdr-tel a i,
.hdr-mail a i,
.hdr-mail a{
	display: inline-block;
	line-height: 1;
}
.hdr-tel a:hover,
.hdr-mail a:hover{
	color: #EC1218;
}
.hdr-mail a i svg{
	fill: #48484A;
}
.hdr-mail a:hover i svg{
	fill: #EC1218;
}
.hdr-tel{
	padding: 0 11px;
}
.hdr-tel a{
	display: inline-block;
	position: relative;
	padding-left: 29px;
	font-size: 17px;
	font-family: 'Museo-Sans-300';
	color: #716A6A;
}
.hdr-tel a i{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	line-height: 1;
}
.hdr-tel a i svg{
	fill: #6c6b69;
}
.hdr-tel a:hover i svg{
	fill: #EC1218;
}


nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -41px;
	padding-top: 58px;
}
nav.main-nav > ul > li{
	padding: 0 41px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-family: 'Museo-Sans-500';
	font-size: 16px;
	line-height: 1;
	position: relative;
	padding-bottom: 58px;
	color: #716A6A;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #EC1218;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 15;
    width: 200px;
    padding: 0 0 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #EC1218;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #EC1218;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	font-family: 'Museo-Sans-900';
	font-size: 14px;
	line-height: 1;
	position: relative;
	color: #716A6A;
}


/*responsive*/
@media(max-width: 1699px){
	.logo a{
		max-width: 200px;
	}
	nav.main-nav > ul{
		padding-top: 45px;
		margin: 0 -30px;
	}
	nav.main-nav > ul > li{
		padding: 0 30px;
	}
	nav.main-nav > ul > li > a{
		padding-bottom: 45px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1199px){
	
}
@media(max-width: 991px){
	
}
@media(max-width: 767px){
	
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	
}

