

.hm-chose-us-sec{
	padding-top: 150px;
	padding-bottom: 160px;
}

.hm-chose-us-sec .sec-entry-hdr{
	padding-bottom: 30px;
}
.hm-chose-us-sec .mbc-sec-entry-hdr-title{
	color: #000;
}

.hm-chose-us-btn{
	padding-bottom: 60px;
	overflow: hidden;
}
.hm-chose-us-btn ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -100px;
	margin-right: -100px;
}
.hm-chose-us-btn ul li{
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
}
.hm-chose-us-btn ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height: 1px;
	width: 180px;
	background: #E71D24;
}
.hm-chose-us-btn ul li:first-child:after{
	content: none;
}


.hm-chose-us-btn ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #000000;
	text-transform: uppercase;
	font-family: 'Museo-Sans-300';
}
.hm-chose-us-btn ul li a.current{
	color: #E71D24;
}

.hm-chose-us-con{
	max-width: 950px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}
.hm-chose-us-con.current{
	display: block;
}
.hm-chose-us-con p{
	margin-bottom: 55px;
}



.reliability-sec{
	padding: 130px 0 80px;
	background: #CBCBCB;
}

.reliability-sec-inr{
	display: flex;
	flex-wrap: wrap;
}

.reliability-lft{
	width: 35%;
	padding-right: 20px;
}

.reliability-rgt{
	width: 65%;
}

.reliability-lft-title{
	margin-bottom: 35px;
}

.reliability-grds ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -25px;
	margin-right: -25px;
}
.reliability-grds ul li{
	width: 50%;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 55px;
}

.reliability-grd-item{
	padding: 70px 20px 10px 40px;
	border: 2px solid #B0ACAC;
	position: relative;
}

.reliability-grd-item-des i{
	position: absolute;
	top: 0;
	left: 40px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 15px;
	padding-right: 15px;
	background: #CBCBCB;
	z-index: 9;
}

.reliability-grd-item-title{
	margin-bottom: 25px;
	text-transform: uppercase;
}


.hm-service-sec{
	padding: 190px 0 0;
}

.hm-service-sec-inr{
	padding-bottom: 130px;
	border-bottom: 1px solid #716A6A;
	display: flex;
	flex-wrap: wrap;
}

.hm-service-lft{
	width: 35%;
	padding-right: 20px;
}

.hm-service-rgt{
	width: 65%;
}

.hm-service-title{
	text-transform: uppercase;
	margin-bottom: 30px;
}

.hm-service-lft-des p{
	margin-bottom: 45px;
}

.hm-service-grds ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -25px;
	margin-right: -25px;
}
.hm-service-grds ul li{
	width: 50%;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 60px;
}

.hm-service-grd-item .mbc-service-grd-item-des{
	background: #EAEAEA;
	text-align: left;
}
.hm-service-grd-item .mbc-service-grd-des-title{
	color: #000000;
	text-transform: uppercase;
}
.hm-service-grd-item .mbc-service-grd-des-title a{
	color: #000000;
}
.hm-service-grd-item .mbc-service-grd-des-title a:hover{
	color: #E71D24;
}



@media(max-width: 1699px){
	.hm-chose-us-sec {
	    padding-top: 100px;
	    padding-bottom: 110px;
	}
	.hm-chose-us-sec .sec-entry-hdr {
	    padding-bottom: 20px;
	}
	.hm-chose-us-btn {
	    padding-bottom: 40px;
	}
	.hm-chose-us-btn ul{
		margin-left: -80px;
		margin-right: -80px;
	}
	.hm-chose-us-btn ul li {
	    padding-left: 80px;
	    padding-right: 80px;
	}
	.hm-chose-us-btn ul li:after{
		width: 125px;
	}
	.hm-chose-us-con p {
	    margin-bottom: 40px;
	}
	.reliability-sec {
	    padding: 110px 0 60px;
	}
	.reliability-grd-item {
	    padding: 60px 20px 10px 25px;
	}
	.reliability-grd-item-title {
	    margin-bottom: 20px;
	}
	.reliability-grd-item-des i img{
		max-width: 55px;
	}
	.hm-service-sec {
	    padding: 150px 0 0;
	}
	.hm-service-sec-inr{
		padding-bottom: 100px;
	}
	.hm-service-grds ul{
		margin-left: -20px;
		margin-right: -20px;
	}
	.hm-service-grds ul li {
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 50px;
	}
}

@media(max-width: 1199px){
	.hm-chose-us-sec {
	    padding-top: 80px;
	    padding-bottom: 90px;
	}
	.hm-chose-us-con p {
	    margin-bottom: 30px;
	}
	.reliability-sec {
	    padding: 90px 0 50px;
	}
	.reliability-lft-title {
	    margin-bottom: 30px;
	    font-size: 43px!important;
	}
	.reliability-grds ul {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.reliability-grds ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 50px;
	}
	.hm-service-sec {
	    padding: 110px 0 0;
	}
	.hm-service-title {
	    margin-bottom: 25px;
	}
	.hm-service-lft-des p {
	    margin-bottom: 35px;
	}
	.hm-service-grds ul {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.hm-service-grds ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 40px;
	}
	.hm-service-sec-inr {
	    padding-bottom: 80px;
	}
	.hm-chose-us-btn ul {
	    margin-left: -60px;
	    margin-right: -60px;
	}
	.hm-chose-us-btn ul li {
	    padding-left: 60px;
	    padding-right: 60px;
	}
	.hm-chose-us-btn ul li:after {
	    width: 100px;
	}
}

@media(max-width: 991px){
	.reliability-sec-inr {
	    display: block;
	}
	.reliability-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 50px;
	}
	.reliability-rgt {
	    width: 100%;
	}
	.reliability-lft-inr{
		text-align: center;
	}
	.reliability-sec {
	    padding: 80px 0 40px;
	}
	.hm-chose-us-sec {
	    padding-top: 70px;
	    padding-bottom: 80px;
	}
	.hm-service-sec {
	    padding: 90px 0 0;
	}
	.hm-service-sec-inr {
	    padding-bottom: 60px;
	    display: block;
	}
	.hm-service-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 30px;
	}
	.hm-service-lft-des{
		text-align: center;
	}
	.hm-service-rgt {
	    width: 100%;
	}
}

@media(max-width: 767px){
	.hm-chose-us-btn ul {
	    margin-left: -40px;
    	margin-right: -40px;
	}
	.hm-chose-us-btn ul li {
	    padding-left: 40px;
    	padding-right: 40px;
	}
	.hm-chose-us-btn ul li:after{
		width: 65px;
	}
	.hm-chose-us-btn {
	    padding-bottom: 20px;
	}
	.hm-chose-us-sec {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.reliability-sec {
	    padding: 60px 0 25px;
	}
	.reliability-grds ul {
	    margin-left: 0px;
	    margin-right: 0px;
	    display: block;
	}
	.reliability-grds ul li {
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 30px;
	    width: 100%;
	}
	.reliability-grd-item{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.hm-service-sec {
	    padding: 70px 0 0;
	}
	.hm-service-sec-inr {
	    padding-bottom: 40px;
	}
	.hm-service-title {
	    margin-bottom: 18px;
	}
	.hm-service-lft-des p {
	    margin-bottom: 25px;
	}
	.hm-service-grds ul {
	    margin-left: 0;
	    margin-right: 0;
	    display: block;
	}
	.hm-service-grds ul li {
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 30px;
	    width: 100%;
	}
	.hm-service-grd-item{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 575px){
	.reliability-grd-item-des i img {
	    max-width: 40px;
	}
}


