.footer-top-sec{
	padding: 81px 0;
}
.ftr-top-cntlr{

}
.ftr-top-desc{
	text-align: center;
}
.fl-h3.ftr-top-title{
	margin-bottom: 35px;
	font-family: 'Museo-Sans-300';
}
.ftr-top-btn .mbc-black-transparent-btn{
	font-family: 'Museo-Sans-700';
}