.news-grid-sec .sec-entry-hdr{
	padding-bottom: 40px;
}
.mbc-sec-entry-hdr-sub-title {
    text-transform: uppercase;
}
.news-landing-sec-entry-hdr {
    text-align: center;
    padding-bottom: 52px;
}
.news-landing-sec-title{
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.news-grids-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.news-grids-cntlr ul li{
	width: 33.333%;
	padding: 0 13px;
	padding-bottom: 54px;
}
.news-grids-cntlr ul li:last-child {
    padding-bottom: 28px;
}
.news-grid-img-cntlr {
    position: relative;
    overflow: hidden;
}
.news-grid-img-cntlr.has-inline-bg img{
	display: none;
}
.news-grid-img-cntlr.has-inline-bg div{
	height: 296px;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.news-grid-des {
    padding-top: 30px;
    padding-bottom: 25px;
    background: #E5E5E5;
}
.news-lod-post-date span {
    padding-bottom: 21px;
    display: block;
}
.news-grid-title a {
    color: #000000;
}
.news-grid-title a:hover{
	color: #ed1c24;
}
.news-grid-title{
	padding-bottom: 23px;
	padding-right: 20px;
    padding-left: 20px;
	margin-bottom: 27px;
	border-bottom: 1px solid #FFFFFF;
}
.news-grid-item:hover .news-grid-img-cntlr div,
.news-grid-item:hover .news-grid-img-cntlr img {
    transform: scale(1.1);
}
.news-grid-btn,
.news-grid-des-title{
	text-align: center;
}
.news-grid-btn {
    padding-left: 20px;
    padding-right: 20px;
}
.news-grid-btn a{
	display: inline-block;
	font-weight: 900;
	color: #000000;	
	position: relative;
	padding-right: 18px;
}
.news-grid-btn a:after{
	position: absolute;
	content: ">";
	/*background: url(../assets/images/news-btn-arow.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 11px;
	height: 10px;*/
	right: 0;
	top: 50%;
    margin-top: 1px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    
}
.news-grid-btn a:hover{
	color: #ed1c24;
}
.news-grid-btn a:hover:after{
	right: -5px;
	color: #ed1c24;
}
.news-grid-sec {
    padding-top: 197px;
    padding-bottom: 157px;
}


/*paginattion-start*/
.fl-pagination-ctlr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fl-pagination-ctlr ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    margin: 0 -5px;
    position: relative;
}

.fl-pagination-ctlr ul li {
    padding: 0 5px;
    font-family: 'Museo-Sans-500';

}
.fl-pagination-ctlr ul li a.page-numbers{
	color: #000;
}
.fl-pagination-ctlr ul li a.page-numbers:hover{
	color: #EC1218;
}
.fl-pagination-ctlr ul li span.page-numbers.current{
	color: #EC1218;
}
.next.page-numbers {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
}

.prev.page-numbers {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
}


/*modal-css*/
.modal{
	background: rgba(0, 0, 0, 0.7);
}


.modal-dialog {
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-content{
	border: none;
	border-radius: 30px;
}
.modal-body {
	padding: 70px;
	background: #CBCBCB;
	border-radius: 30px;  
}
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
}
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea, 
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField {
    width: 100%;
}
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea, 
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	border-color: #CBCBCB;
}
.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
	color: #000000!important;
}
.modal-form-cntlr .contact-form-sub-title{
	color: #000000;
}
.modal-form-cntlr .contact-form-title {
	color: #FFFFFF;
}


/*about-start*/
.hm-about-sec {
    padding-top: 134px;
    padding-bottom: 100px;
}
.about-con-cntlr {
    display: flex;
    flex-wrap: wrap;
}
.about-lft-des {
    width: 66%;
    padding-right: 50px;
}
.about-rgt-img {
    width: 34%;
}
.about-sec-entry-hdr-ttitle{
	text-transform: uppercase;
	margin-bottom: 54px;
}
.about-lft-des p{
	margin-bottom: 60px;
}
.about-sec-mgs-title {
	color: #716A6A;
	margin-bottom: 60px;
}
.about-lft-des blockquote{
	margin: 0;
}

/*responsive-start*/

@media (max-width: 1699px){
	.news-grids-cntlr ul li {
    	padding: 0 10px;
    	padding-bottom: 40px;
	}
	.news-grids-cntlr ul{
		margin: 0 -10px;
	}
	.news-grid-sec {
    	padding-top: 150px;
    	padding-bottom: 125px;
	}
	.news-grid-sec .sec-entry-hdr {
    	padding-bottom: 30px;
	}
	.mbc-sec-entry-hdr-sub-title{
		margin-bottom: 17px;
	}
	.news-grid-des{
		padding-top: 25px;
    	padding-bottom: 20px;
	}
	.news-grid-title{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.hm-about-sec {
    	padding-top: 100px;
    	padding-bottom: 80px;
	}
	.about-lft-des{
		padding-right: 40px;
	}
	.about-sec-entry-hdr-ttitle{
		margin-bottom: 38px;
	}
	.about-lft-des p {
    	margin-bottom: 50px;
	}
	.about-sec-mgs-title{
	    margin-bottom: 50px;
	    font-size: 40px!important;
	}
}
@media (max-width: 1399px){
	.news-grid-sec {
    	padding-top: 120px;
    	padding-bottom: 100px;
	}
	.mbc-sec-entry-hdr-sub-title {
    	margin-bottom: 14px;
	}
	.news-grid-sec .sec-entry-hdr {
    	padding-bottom: 25px;
	}
	.hm-about-sec {
    	padding-top: 80px;
    	padding-bottom: 60px;
	}
	.about-sec-entry-hdr-ttitle {
    	margin-bottom: 30px;
	}
	.about-lft-des p {
    	margin-bottom: 40px;
	}
	.about-sec-mgs-title {
    	margin-bottom: 40px;
	}
	.about-lft-des {
    	padding-right: 30px;
	}
}
@media (max-width: 1299px){
	.news-grid-sec {
    	padding-top: 110px;
    	padding-bottom: 90px;
	}
}
@media (max-width: 1199px){
	.news-grid-sec {
    	padding-top: 90px;
    	padding-bottom: 75px;
	}
	.news-grid-img-cntlr.has-inline-bg div{
		height: 280px;
	}
	.news-grid-sec .sec-entry-hdr {
    	padding-bottom: 20px;
	}
	.mbc-sec-entry-hdr-sub-title {
    	margin-bottom: 12px;
	}
	.news-grid-title{
		padding-left: 13px;
		padding-right: 13px;
	    margin-bottom: 16px;
	}
	.hm-about-sec {
    	padding-top: 70px;
    	padding-bottom: 50px;
	}
	.about-sec-entry-hdr-ttitle {
    	margin-bottom: 25px;
	}
	.about-lft-des p {
	    margin-bottom: 35px;
	}
	.about-sec-mgs-title {
    	margin-bottom: 35px;
    	font-size: 36px!important;
	}
	.about-lft-des {
    	padding-right: 20px;
	}
}
@media (max-width: 991px){
	.news-grid-sec {
    	padding-top: 80px;
    	padding-bottom: 65px;
	}
	.news-grids-cntlr ul{
		justify-content: center;
	}
	.news-grids-cntlr ul li {
		width: 50%;
	}
	.news-grid-sec .sec-entry-hdr {
    	padding-bottom: 16px;
	}
	.mbc-sec-entry-hdr-sub-title {
    	margin-bottom: 10px;
	}
	.fl-pagination-ctlr{
		justify-content: center;
	}
	.news-landing-sec-entry-hdr {
    	padding-bottom: 25px;
	}
	.modal-dialog{
		max-width: 700px;
	}
	.modal-body{
		padding: 50px;
	}
	.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea, 
	.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
		height: 52px;
	}
	.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
	    padding: 17px 15px!important;
	}
	.hm-about-sec {
    	padding-top: 60px;
    	padding-bottom: 45px;
	}
	.about-sec-entry-hdr-ttitle {
    	margin-bottom: 22px;
	}
	.about-lft-des p {
    	margin-bottom: 30px;
	}
	.about-sec-mgs-title {
    	margin-bottom: 30px;
	}
}
@media (max-width: 767px){
	.news-grid-sec {
    	padding-top: 70px;
    	padding-bottom: 55px;
	}
	.news-grids-cntlr ul{
		margin: 0 -8px;
	}
	.news-grids-cntlr ul li {
    	padding: 0 8px;
    	padding-bottom: 35px;
	}
	.news-grid-img-cntlr.has-inline-bg div {
    	height: 260px;
	}
	.modal-body{
	    padding: 40px;
	}
	.hm-about-sec {
    	padding-top: 50px;
    	padding-bottom: 40px;
	}
	.about-rgt-img, 
	.about-lft-des {
    	width: 100%;
	}
	.about-lft-des{
		padding-right: 0;
		order: 2;
	}
	.about-rgt-img{
	    padding-bottom: 50px;
	}
	.about-img-cntlr img{
		width: 100%;
		height: auto;
	}
	.about-sec-entry-hdr-ttitle {
    	margin-bottom: 20px;
	}
	.about-lft-des p {
    	margin-bottom: 25px;
	}

}
@media (max-width: 639px){
	.news-grids-cntlr ul{
		margin: 0;
	}
	.news-grids-cntlr ul li {
    	padding: 0;
    	padding-bottom: 35px;
    	width: 100%;
	}
	.news-grid-item {
    	max-width: 350px;
    	width: 100%;
    	margin: 0 auto;
	}
}
@media (max-width: 575px){
	.news-grid-sec {
    	padding-top: 60px;
    	padding-bottom: 45px;
	}
	.modal-body {
    	padding: 30px;
	}
	.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
		width: 100%;
	}
	.hm-about-sec {
    	padding-top: 40px;
    	padding-bottom: 35px;
	}
	.about-rgt-img{
		padding-bottom: 45px;
	}
}
@media (max-width: 479px){
	.modal-body {
    	padding: 20px;
    	padding-bottom: 30px;
	}
	.about-sec-btn{
		text-align: center;
	}
	
}
@media (max-width: 359px){
	.modal-form-cntlr .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea {
    	height: 125px!important;
	}
	.about-rgt-img {
    	padding-bottom: 38px;
	}
}