.news-landing-sec-entry-hdr {
    text-align: center;
    padding-bottom: 52px;
}
.news-landing-sec-title{
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.news-grids-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.news-grids-cntlr ul li{
	width: 33.333%;
	padding: 0 13px;
	padding-bottom: 54px;
}
.news-grid-img-cntlr {
    position: relative;
    overflow: hidden;
}
.news-grid-img-cntlr.has-inline-bg img{
	display: none;
}
.news-grid-img-cntlr.has-inline-bg div{
	height: 296px;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.news-grid-des {
    padding-top: 30px;
    padding-bottom: 25px;
    background: #E5E5E5;
}
.news-lod-post-date span {
    padding-bottom: 21px;
    display: block;
}
.news-grid-title a {
    color: #000000;
}
.news-grid-title a:hover{
	opacity: 0.7;
}
.news-grid-title{
	padding-bottom: 23px;
	padding-right: 20px;
    padding-left: 20px;
	margin-bottom: 0;
	border-bottom: 1px solid #FFFFFF;
}
.news-grid-item:hover .news-grid-img-cntlr div,
.news-grid-item:hover .news-grid-img-cntlr img {
    transform: scale(1.1);
}
.news-grid-btn,
.news-grid-des-title{
	text-align: center;
}
.news-grid-des-title {
    padding-bottom: 27px;
}
.news-grid-btn a{
	display: inline-block;
	font-size: 20px;
	font-weight: 900;
	color: #000000;	
	position: relative;
	padding-right: 18px;
}
.news-grid-btn a:after{
	position: absolute;
	content: ">";
	/*background: url(../assets/images/news-btn-arow.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 11px;
	height: 10px;*/
	right: 0;
	top: 50%;
    margin-top: 2px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    
}
.news-grid-btn a:hover:after{
	right: -5px;
}
.news-grid-sec {
    padding-top: 148px;
    padding-bottom: 233px;
}




/*modal-css*/
/*.modal{
	background: rgba(212, 227, 206, 0.7);
}


.modal-dialog {
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-content{
	border: none;
	border-radius: initial;
}
.modal-body {
	padding-left: 40px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 30px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
}
button.close {
    position: absolute;
    right: 4px;
    top: 15px;
}

button.close i {
    display: inline-block;
}
.modal-btn a{
	font-size: 15px;
	font-weight: 400;
	color: #48484A;
	border-color: #48484A;
	background: #fff;
	max-width: 226px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-btn {
    position: absolute;
    right: 23px;
    bottom: 30px;
    z-index: 1;
}
*/


/*responsive-start*/

@media (max-width: 1699px){
	.news-grids-cntlr ul li {
    	padding: 0 10px;
    	padding-bottom: 40px;
	}
	.news-grids-cntlr ul{
		margin: 0 -10px;
	}
	.news-landing-grid-des{
		padding-left: 25px;
	}
	.news-landing-sec-entry-hdr{
		padding-bottom: 45px;
	}
	.news-landing-grid-sec {
    	padding-top: 120px;
    	padding-bottom: 190px;
	}
}
@media (max-width: 1399px){
	.news-grid-sec {
    	padding-top: 100px;
    	padding-bottom: 170px;
	}
}
@media (max-width: 1299px){
	.news-grid-sec {
    	padding-bottom: 160px;
	}
	.news-landing-sec-entry-hdr{
		padding-bottom: 40px;
	}
}
@media (max-width: 1199px){
	.news-grid-sec {
    	padding-top: 80px;
    	padding-bottom: 140px;
	}
	.news-grid-img-cntlr.has-inline-bg div{
		height: 280px;
	}
	/*.news-landing-grid-des{
		padding-left: 20px;
		padding-top: 25px;
		padding-bottom: 20px;
	}*/
	.news-landing-sec-entry-hdr {
    	padding-bottom: 30px;
	}
}
@media (max-width: 991px){
	.news-grid-sec {
    	padding-top: 70px;
    	padding-bottom: 120px;
	}
	.news-grids-cntlr ul{
		justify-content: center;
	}
	.news-grids-cntlr ul li {
		width: 50%;
	}
	.news-landing-sec-entry-hdr {
    	padding-bottom: 25px;
	}
}
@media (max-width: 767px){
	.news-grid-sec {
    	padding-top: 60px;
    	padding-bottom: 100px;
	}
	.news-grids-cntlr ul{
		margin: 0 -8px;
	}
	.news-grids-cntlr ul li {
    	padding: 0 8px;
    	padding-bottom: 35px;
	}
	.news-grid-img-cntlr.has-inline-bg div {
    	height: 260px;
	}
	.news-landing-grid-des {
    	padding-left: 20px;
    	padding-top: 20px;
	}
	.news-landing-grid-title {
    	margin-bottom: 18px;
	}
	.news-landing-grids-cntlr {
    	padding-bottom: 15px;
	}


	.modal-body button.close i svg.mail-icon {
    	height: 50px;
    	width: 50px;
	}
	.modal-body{
	    padding-left: 30px;
    	padding-right: 30px;
	}
	.modal-btn{
		right: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.modal-btn a{
		min-width: 0;
		max-width: 190px;
		font-size: 13px;
		height: 40px;
		padding: 0;
		margin: 0 auto;
	}

}
@media (max-width: 639px){
	.news-grids-cntlr ul{
		margin: 0;
	}
	.news-grids-cntlr ul li {
    	padding: 0;
    	padding-bottom: 35px;
    	width: 100%;
	}
	.news-grid-item {
    	max-width: 350px;
    	width: 100%;
    	margin: 0 auto;
	}
}
@media (max-width: 575px){
	.news-grid-sec {
    	padding-top: 50px;
    	padding-bottom: 80px;
	}
	.modal-body button.close i svg.mail-icon {
    	height: 40px;
    	width: 40px;
	}
	button.close{
		right: 8px;
    	top: 10px
	}
	.modal-body {
    	padding-left: 25px;
    	padding-right: 25px;
	}
	.modal-btn{
		bottom: 23px;
	}
}
@media (max-width: 479px){
	.modal-body button.close i svg.mail-icon {
    	height: 30px;
    	width: 30px;
	}
	.modal-body {
    	padding-left: 20px;
    	padding-right: 20px;
	}
	.modal-btn a{
	    height: 38px;
	}
	
}
@media (max-width: 359px){
	.modal-btn a{
	    height: 35px;
	    font-size: 12px;
	}
	.modal-btn{
		bottom: 20px;
	}
	button.close {
    	right: 5px;
    	top: 6px;
	}
}