.mbc-position-available-con-sec{
	padding: 160px 0 100px;
}

.pa-des-title{
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: 'Museo-Sans-500';
}


.mbc-position-available-con-sec .default-page-con ul li, 
.mbc-position-available-con-sec ul li{
	padding-left: 22px;
}
.mbc-position-available-con-sec .default-page-con ul li::before, 
.mbc-position-available-con-sec ul li::before{
	color: #000000;
}


.mbc-pa-form{
	padding: 40px 40px 50px;
	background: #B0ACAC;
}
.mbc-pa-form form h5{
	color: #fff;
	text-transform: uppercase;
}
.mbc-pa-form form p{
	margin-bottom: 25px;
}
.input-field-row{
	padding-bottom: 14px;
}
.input-field-row input[type="text"],
.input-field-row input[type="email"],
.input-field-row input[type="telephone"]{
	width: 100%;
	height: 62px;
	padding-left: 18px;
	border: 1px solid #fff;
	background: #fff;
	color: #CBCBCB;
	font-family: 'Museo-Sans-300';
	border-radius: 30px;
}

.input-field-row input[type="file"]::-webkit-file-upload-button{
	visibility: hidden;
}
.input-field-row input[type="file"]:before{
	content: 'Choose file';
  display: inline-block;
  vertical-align: baseline;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 26px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-family: 'Museo-Sans-300';
  line-height: 1;
  margin-right: -100px;
}
.input-field-row input[type="file"]{
	color: #fff;
}

.input-field-row input[type="submit"]{
	display: inline-block;
	vertical-align: baseline;
	padding: 20px 25px;
	min-width: 220px;
	text-align: center;
	font-size: 18px;
	font-family: 'Museo-Sans-500';
	line-height: 1;
	color: #fff;
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 30px;
	cursor: pointer;
}
.input-field-row input[type="submit"]:hover{
	background: #000;
	border-color: #000;
	color: #fff;
}

.input-field-row input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #CBCBCB;
  opacity: 1;
}


.input-field-row input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: #CBCBCB;
  opacity: 1;
}


.input-field-row input[type="telephone"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="telephone"]::-moz-placeholder { /* Firefox 19+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="telephone"]:-ms-input-placeholder { /* IE 10+ */
  color: #CBCBCB;
  opacity: 1;
}
.input-field-row input[type="telephone"]:-moz-placeholder { /* Firefox 18- */
  color: #CBCBCB;
  opacity: 1;
}

.input-field-row input[type="text"]:focus,
.input-field-row input[type="email"]:focus,
.input-field-row input[type="telephone"]:focus{
	border-color: #000;
}



.pa-news-grd-btn{
	text-align: center;
	padding-top: 20px;
}


.postion-available-ctlr .news-grid-sec {
    padding-top: 210px;
    padding-bottom: 200px;
}


@media(max-width: 1699px){
	.mbc-position-available-con-sec {
    padding: 130px 0 80px;
	}
	.pa-des-title{
		margin-bottom: 30px;
	}
	.postion-available-ctlr .news-grid-sec {
    padding-top: 160px;
    padding-bottom: 150px;
	}
}

@media(max-width: 1199px){
	.mbc-position-available-con-sec {
    padding: 100px 0 60px;
	}
	.mbc-pa-form {
    padding: 40px 30px 50px;
	}
	.postion-available-ctlr .news-grid-sec {
    padding-top: 130px;
    padding-bottom: 120px;
	}
}

@media(max-width: 991px){
	.mbc-position-available-con-sec {
    padding: 90px 0 50px;
	}
	.input-field-row input[type="text"], 
	.input-field-row input[type="email"], 
	.input-field-row input[type="telephone"]{
		height: 50px;
	}
	.postion-available-ctlr .news-grid-sec {
    padding-top: 100px;
    padding-bottom: 90px;
	}
}

@media(max-width: 767px){
	.mbc-position-available-con-sec {
    padding: 70px 0 40px;
	}
	.mbc-pa-form {
    padding: 30px 20px 40px;
	}
	.postion-available-ctlr .news-grid-sec {
    padding-top: 80px;
    padding-bottom: 70px;
	}
}