.mbc-service-sec{
	padding: 195px 0;
}


.sec-entry-hdr{
	text-align: center;
	padding-bottom: 50px;
}

.mbc-sec-entry-hdr-subtitle{
	margin-bottom: 30px;
}
.mbc-sec-entry-hdr-title{
	color: #CBCBCB;
	font-family: 'Museo-Sans-300';
}

.mbc-service-sec .mbc-sec-entry-hdr-title{
	color: #000;
	font-family: 'Museo-Sans-500';
	text-transform: uppercase;
}




.mbc-service-grds{
	padding-bottom: 45px;
}
.mbc-service-grds ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.mbc-service-grds ul li{
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.mbc-service-grd-item{
	position: relative;
}

.mbc-service-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.mbc-service-grd-item-img{
	height: 275px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mbc-service-grd-item-img img{
	display: none;
}

.mbc-service-grd-item-des{
	padding: 20px 20px 1px;
	background: #000000;
	text-align: center;
	position: relative;
	z-index: 11;
}

.mbc-service-grd-des-title{
	color: #fff;
	margin-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.mbc-service-grd-des-title a{
	color: #fff;
}
.mbc-service-grd-des-title a:hover{
	color: #EC1218;
}
.mbc-service-grd-item:hover .mbc-service-grd-item-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.mbc-service-btn{
	text-align: center;
}



.mbc-project-count-sec{
	padding: 150px 0 100px;
	background: #eaeaea;
}

.mbc-project-count-grds{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.mbc-project-count-grd-item{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.mbc-project-count-number{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	text-align: center;
}


.mbc-project-count-number i{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 20px;
}
.mbc-project-count-number span{
	display: inline-block;
	vertical-align: baseline;
	color: #cbcbcb;
	font-size: 80px;
	line-height: 1;
	min-width: 140px;
	text-align: left;
}
.mbc-project-count-des{
	text-align: center;
}
.mbc-project-count-des-title{
	text-transform: uppercase;
	margin-bottom: 25px;
}




/*responsive*/

@media(max-width: 1699px){
	.mbc-service-sec {
	    padding: 140px 0;
	}
	.mbc-service-grd-des-title{
		font-size: 16px!important;
	}
	.mbc-service-grd-item-img{
		height: 230px;
	}
	.mbc-project-count-sec {
	    padding: 120px 0 80px;
	}
	/*.mbc-project-count-number i{
		max-width: 55px;
	}
	.mbc-project-count-grd-item:nth-child(3) .mbc-project-count-number i{
		max-width: 65px;
	}*/
	.mbc-project-count-number span{
		font-size: 60px;
	}
	.mbc-project-count-number{
		margin-bottom: 30px;
	}
	.mbc-project-count-des-title{
		margin-bottom: 20px;
	}
	.sec-entry-hdr {
	    padding-bottom: 30px;
	}
}

@media(max-width: 1199px){
	.mbc-service-sec {
	    padding: 110px 0;
	}
	.sec-entry-hdr {
	    padding-bottom: 20px;
	}
	.mbc-service-grds {
	    padding-bottom: 30px;
	}
	.mbc-project-count-sec {
	    padding: 100px 0 70px;
	}
	.mbc-project-count-number span {
	    font-size: 50px;
	}
}

@media(max-width: 991px){
	.mbc-service-sec {
	    padding: 90px 0;
	}
	.mbc-service-grds ul li{
		width: 33.3333%;
	}
	.mbc-service-grd-des-title {
	    font-size: 14px!important;
	}
	.mbc-service-btn .mbc-transparent-btn{
		font-size: 15px;
	}
	.mbc-project-count-sec {
	    padding: 80px 0 55px;
	}
	.mbc-project-count-number span {
	    font-size: 40px;
	}
	.mbc-project-count-number i {
	    max-width: 45px;
	    margin-right: 15px;
	}
	.mbc-project-count-grd-item:nth-child(3) .mbc-project-count-number i {
	    max-width: 55px;
	}
}

@media(max-width: 767px){
	.mbc-service-sec {
	    padding: 70px 0;
	}
	.mbc-service-grds ul li {
	    width: 50%;
	}
	.mbc-project-count-sec {
	    padding: 70px 0 40px;
	}
	.mbc-project-count-grds {
	    margin-left: 0;
	    margin-right: 0;
	}
	.mbc-project-count-grd-item {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    padding-bottom: 20px;
	}
	.mbc-project-count-grd-item-inr{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 575px){
	.mbc-service-grds ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.mbc-service-grds ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.mbc-service-grd-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
